.code-snippet {
    margin-top: 1rem;
    font-size: 0.9rem;

    $arrow-size: 6px;

    &__arrow {
        display: inline-block;
        width: 0;
        height: 0;

        &--right {
            border-top: $arrow-size solid transparent;
            border-bottom: $arrow-size solid transparent;

            border-left: $arrow-size solid #AAAAAA;
            border-right: $arrow-size solid transparent;
        }

        &--up {
            margin-right: 6px;
            margin-bottom: 3px;

            border-top: $arrow-size solid transparent;
            border-bottom: $arrow-size solid #AAAAAA;

            border-left: $arrow-size solid transparent;
            border-right: $arrow-size solid transparent;
        }
    }

    &__toggle-button {
        color: $ofs-pink;
        text-decoration: none;

        &:hover {
            color: $ofs-red;
        }
    }
}
